@{
  Layout = "_Layout";
}

<h1>Welcome to the Library!</h1>
<p>@Html.ActionLink("See All Books", "Index", "Books")</p>
<p>@Html.ActionLink("See All Authors", "Index", "Authors")</p>
<p>@Html.ActionLink("View My Library", "Index", "Copies")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>